
dist
dist-ssr
.DS_Store
# Editor directories and files
.env
.env.*
!.env.example
.env.production.local
.idea
lerna-debug.log*
*.local
*.log
logs
# Logs
*.njsproj
node_modules
npm-debug.log*
*.ntvs*
pnpm-debug.log*
server/data
*.sln
*.suo
*.sw?
.vscode/*
!.vscode/extensions.json
yarn-debug.log*
yarn-error.log*
